<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/restaurant"
        android:roundIcon="@drawable/restaurant"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nofoodsharingproject"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name=".activities.MainAuth_Activity">
        </activity>
        <activity android:name=".activities.GetterNewAdvert_Activity" android:exported="true" />
        <activity android:name=".activities.Setter_Activity" android:exported="true" />
        <activity android:name=".activities.SetterAdvert_Activity" android:exported="true" />
        <activity android:name=".activities.Getter_Activity" android:exported="true" />
        <!--    test    -->
        <activity
            android:name=".utils.CustomSearchMarkets"
            android:configChanges="orientation|screenSize" />

        <receiver android:exported="false" android:name=".utils.LocationUpdateReceiver" >
            <intent-filter>
                <action android:name="com.example.nofoodsharingproject.LOCATION_READY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.CustomMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notifications_active" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/design_default_color_surface" />
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="@string/default_notification_channel_id" />-->
    </application>

</manifest>